<div>
  <h2 id="page-heading" data-cy="InvitationHeading">
    <span>Invitations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invitation"
        [routerLink]="['/invitation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Invitation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="invitations?.length === 0">
    <span>No invitations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="invitations && invitations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Quiz Code</span></th>
          <th scope="col"><span>Invited By</span></th>
          <th scope="col"><span>User Account</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invitation of invitations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/invitation', invitation.id, 'view']">{{ invitation.id }}</a>
          </td>
          <td>{{ invitation.quizCode }}</td>
          <td>{{ invitation.invitedBy }}</td>
          <td>
            <span *ngFor="let userAccount of invitation.userAccounts; let last = last">
              <a class="form-control-static" [routerLink]="['/user-account', userAccount.id, 'view']">{{ userAccount.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/invitation', invitation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/invitation', invitation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(invitation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
