<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="userAccount">
      <h2 data-cy="userAccountDetailsHeading"><span>User Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ userAccount.id }}</span>
        </dd>
        <dt><span>Rank</span></dt>
        <dd>
          <span>{{ userAccount.rank }}</span>
        </dd>
        <dt><span>Quizes Taken</span></dt>
        <dd>
          <span>{{ userAccount.quizesTaken }}</span>
        </dd>
        <dt><span>Quizzes Created</span></dt>
        <dd>
          <span>{{ userAccount.quizzesCreated }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ userAccount.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/user-account', userAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
