<section class="quiz-bg">
  <img class="quiz-img" src="../../../content/images/quiz.jpg" alt="" />
  <div class="quiz-content row">
    <div class="centered">
      <div class="jumbotron quiz-body bg-white">
        <h4 class="display-5">Started Quiz: {{ code | uppercase }}</h4>
        <p class="lead">Good luck!</p>
        <hr class="my-4" />
        <p class="quiz-text">Question number: 1</p>
        <hr class="my-4" />
        <p class="quiz-text">
          This is the question body. In enim odio, tristique at lacinia et, fringilla non elit. Vivamus auctor ornare arcu, sit amet
          volutpat ex gravida eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum malesuada odio, id ultricies
          augue mattis quis. Aliquam non justo maximus, bibendum tortor ac, efficitur nisi. Pellentesque eu ex venenatis, aliquet eros non,
          auctor orci.
        </p>
        <div class="answers">
          <button type="button" class="btn btn-success btn-lg answer-btn">This is answer A. It may be quite long answer, why not.</button>
          <button type="button" class="btn btn-info btn-lg answer-btn">This is answer B. It may be quite long answer, why not.</button>
          <button type="button" class="btn btn-warning btn-lg answer-btn">This is answer C.</button>
          <button type="button" class="btn btn-danger btn-lg answer-btn">This is answer D. It may be quite long answer, why not.</button>
        </div>
      </div>
    </div>
  </div>
</section>
