.home-card {
  max-width: 75%;
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  background-color: bisque;
  opacity: 0.6;
}
